html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#infoWrapper{
    overflow: auto;
}
.container-fluid,
.col-map{
    padding: 0;
}
svg{
    z-index: 9999;
}
.btn:focus,
.btn:hover,
.btn:active{
    outline: 0 !important;
}
#tooltip{
    font-size: 14px;
    position: absolute;
    z-index: 999;
    padding: 2px;
    color: #1a1a1a;
    border-radius: 3px;
    background-color: rgba(245,245,245,1);
}
#tooltip:empty{
    display: none;
}

#infoText{
    padding: 20px;
}
.selected-pump {
    fill: yellow;
}
.mapped-pump {
    cursor: pointer;
}
.mapped-buffer {
    fill: blue;
    opacity: 0.3;
}

#buffer-results {
    font: 400 18px;
    margin-top: 18px;
}
#buffer-results span {
    font-weight: 700;
}

